name: PMD Code Analysis

on:
  push:
    branches: [ "main", "ci-linter" ]
  pull_request:
    branches: [ "main" ]

jobs:
  pmd-analysis:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
          cache: gradle

      - name: Run PMD
        run: ./gradlew pmdMain pmdTest